@{
    ViewBag.Title = "Main page";
}

<h1>Main page</h1>

<div>
    @*<p>@Html.ActionLink("File list", "FileList")</p>
    <p>@Html.ActionLink("Tag list", "TagList")</p>
    <p>@Html.ActionLink("Add file", "AddFile")</p>*@
</div>